<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="WatchPath1" value="C:\\test" />
    <add key="WatchPath2" value="C:\\test2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Felohexe" value="C:\Users\Davion Cottle\Source\Repos\Feloh4\FelohNebula\bin\Debug\FelohNebula.exe"/>
    <add key="Felohproc" value="FelohNebula"/>
    <add key="FelohDownTime" value=".2"/>
    <add key="FelohCheckTime" value="10000"/>
    <add key="InOutReadFile" value="C:\test\InOutfile.txt"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>